<h2>Brand colors</h2>

<section class="color-list">
{{#each brand-colors}}
    <article class="color-card" style="--bgcolor: {{ code }};--txtcolor: {{ text-code }};">
        <h2 class="color-card__name">{{ name }}</h2>
		<span class="color-card__code">
			<span class="color-card__code-label">{{ code }}</span>
			<a href="#" class="color-card__code-switcher" data-color="{{ code }}" data-type="hex">hsl</a></span>
		
		<p class="color-card__font-name">{{ text-name }}</p>
		<span class="color-card__font-code">
			<span class="color-card__code-label">{{ text-code }}</span> 
			<a href="#" class="color-card__code-switcher" data-color="{{ text-code }}" data-type="hex">hsl</a></span>
		
		<span class="color-card__contrast" title="Contrast Ratio">{{ a11y }}</span>
    </article>
{{/each}}
</section>

<h2>Gray</h2>

<section class="color-list">
{{#each gray-colors}}
    <article class="color-card" style="--bgcolor: {{ code }};--txtcolor: {{ text-code }};">
        <h2 class="color-card__name">{{ name }}</h2>
		<span class="color-card__code">
			<span class="color-card__code-label">{{ code }}</span>
			<a href="#" class="color-card__code-switcher" data-color="{{ code }}" data-type="hex">hsl</a></span>
		
		<p class="color-card__font-name">{{ text-name }}</p>
		<span class="color-card__font-code">
			<span class="color-card__code-label">{{ text-code }}</span> 
			<a href="#" class="color-card__code-switcher" data-color="{{ text-code }}" data-type="hex">hsl</a></span>
		
		<span class="color-card__contrast" title="Contrast Ratio">{{ a11y }}</span>
    </article>
{{/each}}
</section>

<h2>Red</h2>

<section class="color-list">
{{#each red-colors}}
    <article class="color-card" style="--bgcolor: {{ code }};--txtcolor: {{ text-code }};">
        <h2 class="color-card__name">{{ name }}</h2>
		<span class="color-card__code">
			<span class="color-card__code-label">{{ code }}</span>
			<a href="#" class="color-card__code-switcher" data-color="{{ code }}" data-type="hex">hsl</a></span>
		
		<p class="color-card__font-name">{{ text-name }}</p>
		<span class="color-card__font-code">
			<span class="color-card__code-label">{{ text-code }}</span> 
			<a href="#" class="color-card__code-switcher" data-color="{{ text-code }}" data-type="hex">hsl</a></span>
		
		<span class="color-card__contrast" title="Contrast Ratio">{{ a11y }}</span>
    </article>
{{/each}}
</section>

<h2>Green</h2>

<section class="color-list">
{{#each green-colors}}
    <article class="color-card" style="--bgcolor: {{ code }};--txtcolor: {{ text-code }};">
        <h2 class="color-card__name">{{ name }}</h2>
		<span class="color-card__code">
			<span class="color-card__code-label">{{ code }}</span>
			<a href="#" class="color-card__code-switcher" data-color="{{ code }}" data-type="hex">hsl</a></span>
		
		<p class="color-card__font-name">{{ text-name }}</p>
		<span class="color-card__font-code">
			<span class="color-card__code-label">{{ text-code }}</span> 
			<a href="#" class="color-card__code-switcher" data-color="{{ text-code }}" data-type="hex">hsl</a></span>
		
		<span class="color-card__contrast" title="Contrast Ratio">{{ a11y }}</span>
    </article>
{{/each}}
</section>

<h2>Illustration</h2>

<section class="color-list">
{{#each illustration-colors}}
    <article class="color-card" style="--bgcolor: {{ code }};--txtcolor: {{ text-code }};">
        <h2 class="color-card__name">{{ name }}</h2>
		<span class="color-card__code">
			<span class="color-card__code-label">{{ code }}</span>
			<a href="#" class="color-card__code-switcher" data-color="{{ code }}" data-type="hex">hsl</a></span>
		
		<p class="color-card__font-name">{{ text-name }}</p>
		<span class="color-card__font-code">
			<span class="color-card__code-label">{{ text-code }}</span> 
			<a href="#" class="color-card__code-switcher" data-color="{{ text-code }}" data-type="hex">hsl</a></span>
		
		<span class="color-card__contrast" title="Contrast Ratio">{{ a11y }}</span>
    </article>
{{/each}}
</section>